<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<style>
	body {
		margin: 0 auto;
	}
	table {
		border-spacing: 0;
	}
	td {
		padding-left:10%;
		padding-right:10%;
	}
	.logo{
		float:right;
	}
	.logo > img {
		padding:5%;
	}
	a {
		color:000;
	}
</style>
<table width="1000px" style="text-align: left">
	<tr>
		<th style="float:right;margin:20px">
			<img src="img/logo.jpg" >
		</th>
	</tr>
	<tr>
		<th>
			<img src="img/banner.jpg" width="100%" >
		</th>
	</tr>
	<!-- <tr>
		<td style="padding-top:20px;font-size:26px;color:#661255">How can we make Performing Arts Education Work Online?</td>
	</tr>
	<tr>
		<td style="font-size:16px;font-style:italic;">Join the conversation LIVE <b>Today</b> 5pm HKT (7pm ACT, 9am GMT)</td>
	</tr> -->
	<tr>
		<td style="width:1024px;padding-top:20px; font-size:14px">
			<table>

				<td style="padding:0">SAMR stands for Substitution, Augmentation, Modification, and Redefinition.  This SAMR workshop invites you to rethink T&L and to transform your class activities through technology integration. We will introduce this model and look at examples in the context of performing arts education. Based on this model, participants will also examine how to adapt and transform their teaching through harnessing the affordances of digital tools and platforms, with the goal of cultivating creative and collaborative learners. In addition, the workshop will introduce participants to a few 'free' learning tools that support collaborative learning - tools that can be used alone or be integrated with Canvas.  
				</td>
				
			</table>
		</td>
		
	</tr>
	<tr>
		<td style="padding-top:20px">SAMR是指替代，增強，修改和重新定義。這個SAMR工作坊讓你再次思考你的教與學, 透過應用科技來轉變你的課堂活動。 我們將向你介紹這個模式, 並會在表演藝術這個範疇內查找一些例子。在此模式的基礎上，參加者還將探討如何利用數碼工具和平台的能力來適應和轉變他們的教學，目的是培養他們成為創新和合作性強的學習者。 此外，工作坊還會向參加者介紹一些支援協作學習的"免費"學習工具，這些工具既可以單獨使用，也可以與Canvas一起使用。
				</td>
	</tr>
	<tr>
		<td style="text-align: center;padding:0;padding-top:20px;"><img src="img/date_v2.jpg" width="1024px"></td>
	</tr>
	<tr>
		<td style="text-align: center;padding-top:30px"><a href="https://docs.google.com/forms/d/e/1FAIpQLSebaBOXAERHe7KHpfFYWGLx8HYnvb1bjK_hO44DHutzlfCDkw/viewform" target="_blank"><img src="img/button.png"></a>
	</tr>
	<tr>
		<td style="width:1024px;padding-top:20px; font-size:14px; font-weight: bold;padding-left:5%;padding-right:5%">
			<table style="color:#666">

				<td style="padding:0; font-size:16px; padding-right:5px; font-weight: bold">
					EDUCATION INFORMATION TECHNOLOGY (EDUIT), HKAPA<br>
					香港演藝學院 - 教育資訊科技
				</td>
				<td style="padding:0; font-size:14px; padding-left:20px;font-weight: bold">
					Our mission is to support and foster innovative teaching, learning, and practice in the context of performing arts, with the integration of emerging technologies.<br>
					我們致力於輔助並推動演藝學院運用最新科技在表演藝術中的創新授課、學習與實踐。
				</td>
				
			</table>
		</td>
		
	</tr>
	<tr>
		<td style="text-align: center;padding-top:30px"><a href="mailto:eduit@hkapa.edu" target="_blank"><img src="img/email.png" style="margin-right:5px">eduit@hkapa.edu</a>	
	</tr>
	<tr>
		<td style="text-align: center;padding:0;padding-top:30px"><img src="img/bottom.jpg" width="100%" ></td>
	</tr>
</table>